node_modules
dist
work
.idea
tmp-pdf
assets/assets
public/portfolio.pdf
public/resume.pdf
portfolio.pdf
resume.pdf
tmp-pdf
.DS_Store
.env
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.idea/MeteoRiver.github.io.iml
/.idea/vcs.xml
